USE [master]
GO
/****** Object:  Database [sentidb]    Script Date: 11/5/2023 2:30:58 PM ******/
CREATE DATABASE [sentidb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sentidb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\sentidb.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sentidb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\sentidb_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sentidb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sentidb]
GO
/****** Object:  Table [dbo].[SentiTable]    Script Date: 11/5/2023 2:30:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SentiTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](50) NULL,
	[Pos] [int] NULL,
	[Neg] [int] NULL,
	[Nutr] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 11/5/2023 2:30:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UName] [varchar](50) NULL,
	[EmailId] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SentiTable] ON 

INSERT [dbo].[SentiTable] ([Id], [FileName], [Pos], [Neg], [Nutr]) VALUES (1, N'f1', 53, 42, 20)
INSERT [dbo].[SentiTable] ([Id], [FileName], [Pos], [Neg], [Nutr]) VALUES (2, N'f2', 96, 23, 25)
INSERT [dbo].[SentiTable] ([Id], [FileName], [Pos], [Neg], [Nutr]) VALUES (3, N'f3', 24, 55, 14)
SET IDENTITY_INSERT [dbo].[SentiTable] OFF
SET IDENTITY_INSERT [dbo].[UserTable] ON 

INSERT [dbo].[UserTable] ([Id], [UName], [EmailId], [Mobile], [Password]) VALUES (1, N'Ramesh', N'ramesh@gmail.com', N'9632587411', N'12345')
SET IDENTITY_INSERT [dbo].[UserTable] OFF
USE [master]
GO
